<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<!--Dit_is_om_te_testen_of_het_werkt_en_moet_later_vervangen_worden_door_een_Database-->
@{ 
        List<Melding> meldings = new List<Melding>();
        var melding1 = new Melding()  {MeldingId="1",Titel="Lorem Ipsum 1", Inhoud="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.",Likes=225,Views=1200,Categorieen=new List<string>{"lorem","Ipsum"},Auteur=new Gebruiker{VoorNaam="Alec",AchterNaam="van Spronsen"}};
        var melding2 = new Melding()  {MeldingId="2",Titel="Lorem Ipsum 2", Inhoud="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.",Likes=4,Views=7,Categorieen=new List<string>{"lorem","Ipsum"},Auteur=new Gebruiker{VoorNaam="Dechaun",AchterNaam="Bakker"}};
        var melding3 = new Melding()  {MeldingId="3",Titel="Lorem Ipsum 3", Inhoud="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.",Likes=4,Views=7,Categorieen=new List<string>{"lorem","Ipsum"},Auteur=new Gebruiker{VoorNaam="Joeri",AchterNaam="de hoog"}};
        var melding4 = new Melding()  {MeldingId="4",Titel="Lorem Ipsum 4", Inhoud="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.",Likes=5,Views=8,Categorieen=new List<string>{"lorem","Ipsum"},Auteur=new Gebruiker{VoorNaam="Scott",AchterNaam="van Duin"}};
        var melding5 = new Melding()  {MeldingId="5",Titel="Lorem Ipsum 5", Inhoud="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.",Likes=123,Views=553,Categorieen=new List<string>{"lorem","Ipsum"}};
        meldings.Add(melding1);
        meldings.Add(melding2);
        meldings.Add(melding3);
        meldings.Add(melding4);
        meldings.Add(melding5);
        Melding ModalMelding = melding1;
}

<header>
    <div class ="row p-0 m-0">
            <div class="col-md-2 p-0 m-0"></div>
                <div class="col-md-2 p-0 m-0">
                <button class="btn" data-toggle="modal" data-target="#NieuwBericht">Bericht maken <i class="fa fa-plus"></i></button>
                </div>
                <div class="col-md-3 p-0 m-0">
                    <input type="text" placeholder="Search.." name="search" class="col-md-6 p-0 m-0">
                    <button class="btn"><i class="fa fa-search"></i></button>
                </div>
            <div class="col-md-4 p-0 m-0">
                <a>Sorteren op:</a>
              <select name="SorterenOp" id="SorterenOp">
                <option value="SorteerNieuwsteBerichten">Nieuwste</option>
                <option value="SorteerMeesteLikes">Meeste likes</option>
                <option value="SorteerMeesteReacties">Meeste reacties</option>
            </select>
        </div>
    </div>
</header>
@foreach (var melding in meldings)
{
        <div class="row p-3 m-0">
        <div class="col-md-2 p-0 m-0"></div>
        <div class="col-md-7 p-0 m-0">
            <div class="melding rounded">
                    <article class="p-3">
                        <h2>@melding.Titel</h2>
                        <P>@melding.Inhoud.Substring(0,300)</P><a>...</a>
                        <div class="row p-0 m-0">
                        <p class="col-md-6 p-0 m-0">Categorie: @foreach (var categorie in melding.Categorieen)
                        {
                            <a>#@categorie</a>
                        }</p>
                        <p class="col-md-4 p-0 m-0">Geplaatst door: @if(melding.Auteur==null){<a>Annoniem</a>}else{<a>@melding.Auteur.VoorNaam @melding.Auteur.AchterNaam</a>}</p>
                        <button ModalMelding=@melding class="col-md-2 p-0 m-0 btn btn-primary" data-toggle="modal" data-target="#leesMeer">Lees meer...</button>
                        </div>
                    </article> 
                </div>
            </div>
        </div>
}
</div>

<!--- Modal voor het inloggen---->
<div class="modal fade bd-example-modal-lg" id="NieuwBericht" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nieuw Bericht</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row p-0 m-0">
                <div class="col-8 p-0 m-0">
                    <a>Naam bericht:</a> 
                    <input id="NaamBericht"></input>
                 </div>
                <div class ="col-4 p-0 m-0">
                <a>Dit bericht anoniem plaatsen?</a>
                <input type="checkbox" id="AnoniemPlaatsen" class="col-5 p-0 m-0"></input>
            </div> 
        </div>
        <div class="row p-0 m-0">
            <textarea id="bericht" rows="12" cols="75" placeholder="Typ hier uw bericht in"></textarea>
        </div>
        <div class="row p-0 m-2">
            <div class="col-8 p-0 m-0">
                <a>Catagorieën:</a>
                <input>
            </div>
            <div class="col-4 p-0 m-0">
                <a>Foto toevoegen</a> 
               <button><i class="fa fa-file-photo-o"></i></button>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Plaats bericht</button>
      </div>
    </div>
  </div>
</div>

<!--- Modal voor de reacties---->
<div class="modal fade bd-example-modal-lg" id="leesMeer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-7">
                    <h5>@ModalMelding.Titel</h5>
                </div>
                <div class="col-md-4">
                    <h5>Geplaatst door: @ModalMelding.Auteur.AchterNaam</h5>
                </div>
                <div class="col-md-1">
                    <a><i class="far fa-thumbs-up"></i></a><p style="display: inline;">@ModalMelding.Likes</p>
                </div>
            </div>
            <div class="modal-body">
                <div class="row p-3 m-0">
                    <P>@ModalMelding.Inhoud</P>            
                </div>
                <hr/>
                <div class="col-md-2"></div>
                <div class="container border col-md-8 p-2">
                    <div class="row p-0 m-0">
                        <div class="col-md-11">
                            <p>Lorem Ipsum</p>
                        </div>
                        <div class="col-md-1">
                            <a><i class="far fa-thumbs-up"></i></a><p style="display: inline;">5</p>
                        </div>
                    </div>
                    <div class="row p-0 m-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus.</p>
                    </div>
                </div>
                <hr class="p-0 mt-3 mb-0 ml-0 mr-0"/>
            </div>
            
                <div class="row p-2 m-1">
                    <div class="col-md-10">
                        <textarea id="reactie" rows="1" cols="75" placeholder="Typ hier uw reactie in..."></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary">Plaats reactie</button>
                    </div>
                </div>
        </div>
    </div>
</div>
}