@{
    ViewData["Title"] = "Buurtmeldingen";
}

@model List<Melding>
<header>
    <div id="meldingen-header" class="container bg-white py-3">
        <div class="row m-0 bg-white py-1 text-dark justify-content-center align-content-center align-items-center">
            <div class="col-md-12 m-0 p-0 text-wrap">
                <h1 class="text-break">Buurtmeldingen</h1>
                <p class="text-secondary">
                    Bekijk hier de meldingen in je buurt.
                </p>
            </div>
        </div>
    </div>
</header>

<div id="meldingen-controls" class="container bg-white py-3">
    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class="col-md-4 p-2 m-0">
            <button class="btn btn-dark w-100" data-toggle="modal" data-target="#NieuwBericht">Nieuw bericht  <i class="fa fa-plus"></i></button>
        </div>

        <div class="col-md-4 p-2 m-0">
            <div class="form-inline form-search w-100 m-0 justify-content-center">
                <input class="form-control w-100 m-0" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark m-0" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <div class="col-md-4 p-2 m-0">
            <div class="form-inline m-0 select-box">
                <select id="inputSorteer" class="form-control w-100">
                    <option selected>Sorteren op...</option>
                    <option value="SorteerNieuwsteBerichten">Nieuwste</option>
                    <option value="SorteerMeesteLikes">Meeste likes</option>
                    <option value="SorteerMeesteReacties">Meeste reacties</option>
                </select>
                <i class="fas fa-angle-down selector"></i>
            </div>
        </div>
    </div>
</div>

<div id="meldingen-content" class="container bg-white py-3">
    @foreach (var melding in Model)
    {
            <div class="row m-0 bg-white py-4 text-dark align-content-end align-items-end justify-content-center">
                <div class="col-md-12 w-100 p-0 m-0">
                    <div class="melding bg-white p-4 rounded box-shadow-full">
                        <article>
                            <div class="melding-header py-1 w-100 row m-0 p-0 align-content-end align-items-end">
                                <div class="col-md-6 w-100 m-0 p-0">
                                    <h2 class="text-wrap">
                                        @melding.Titel
                                    </h2>
                                </div>
                                <div class="col-md-6 w-100 m-0 p-0 align-content-end align-items-end">
                                    <h6 class="text-secondary ls-0 float-md-right">
                                        <i class="far fa-clock"></i> 

                                        @melding.AangemaaktOp
                                    </h6>
                                </div>
                                @if(melding.IsActief==true)
                                    {
                                        <div style="height: 2px;" class="container-fluid bg-success"></div>
                                    }else
                                    {
                                        <div style="height: 2px;" class="container-fluid bg-danger"></div>
                                    }
                            </div>

                            <div class="melding-content py-2 row m-0 p-0">
                                <div class="col-md-12 m-0 p-0">
                                    <p class="text-wrap">
                                        @melding.Inhoud.Substring(0,300)...
                                        <a data-toggle="modal" href="#melding-@melding.meldingID">
                                            lees meer
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="melding-footer py-1 m-0 p-0">
                                <hr>
                                <div class="row w-100 py-1 m-0 p-0 text-secondary">
                                    <div class="col-md-6 w-100 m-0 p-0 text-secondary">
                                        <p>
                                            <div class="categories-title d-inline">
                                                <p>Categorie:</p>
                                            </div>
                                            @foreach (var categorie in melding.Categorieen)
                                            {   
                                                <div class="categories-content d-inline">
                                                    <a href="#" class="py-2 px-3 rounded-0 border categorie text-secondary">#@categorie</a>
                                                </div>
                                            }
                                        </p>
                                    </div>
                                    <div class="col-md-6 w-100 m-0 p-0 text-secondary">
                                        <p class="float-md-right">
                                            Geplaatst door:
                                            @if(melding.auteur==null)
                                            {
                                                <a>Anoniem</a>
                                            }else
                                            {
                                                <a href="#">
                                                    @melding.auteur.VoorNaam @melding.auteur.AchterNaam
                                                </a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>  
    }
</div>
@foreach (var melding in Model) {
<!--- Modal voor het inloggen---->
<div class="modal fade bd-example-modal-lg melding-modal" id="NieuwBericht" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nieuw Bericht</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row p-0 m-0">
                        <div class="col-8 p-0 m-0">
                            <a>Naam bericht:</a> 
                            <input id="NaamBericht"></input>
                        </div>
                        <div class ="col-4 p-0 m-0">
                        <a>Dit bericht anoniem plaatsen?</a>
                        <input type="checkbox" id="AnoniemPlaatsen" class="col-5 p-0 m-0"></input>
                    </div> 
                </div>
                <div class="row p-0 m-0">
                    <textarea id="bericht" rows="12" cols="75" placeholder="Typ hier uw bericht in"></textarea>
                </div>
                <div class="row p-0 m-2">
                    <div class="col-8 p-0 m-0">
                        <a>Catagorieën:</a>
                        <input>
                    </div>
                    <div class="col-4 p-0 m-0">
                        <a>Foto toevoegen</a> 
                    <button><i class="fa fa-file-photo-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Plaats bericht</button>
            </div>
        </div>
    </div>
</div>

<!--- Modal voor de reacties---->
<div class="modal fade bd-example-modal-lg" id="melding-@melding.meldingID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-7">
                    <h5>@melding.Titel</h5>
                </div>
                <div class="col-md-4">
                    <h5>Geplaatst door:@if(melding.auteur==null)
                                            {
                                                <p>Anoniem</p>
                                            }else
                                            {
                                                
                                                    @melding.auteur.VoorNaam   @melding.auteur.AchterNaam
                                            } </h5>
                </div>
                <div class="col-md-1">
                    <a><i class="far fa-thumbs-up"></i></a><p style="display: inline;">@melding.Likes</p>
                </div>
            </div>
            <div class="modal-body">
                <div class="row p-3 m-0">
                    <P>@melding.Inhoud</P>            
                </div>
                <hr/>
                <div class="col-md-2"></div>
                <!--reactie-->
                
                <h5>Geplaatst door:@if(melding.Reacties==null)
                                            {
                                                <p>Anoniem</p>
                                            }else
                                            {
                                                 <p>bruh</p>
                                            } </h5>
                <div class="container border col-md-8 p-2">
                    <div class="row p-0 m-0">
                        <div class="col-md-11">
                            <p></p>
                        </div>
                        <div class="col-md-1">
                            <a><i class="far fa-thumbs-up"></i></a><p style="display: inline;">5</p>
                        </div>
                    </div>
                    <div class="row p-0 m-0">
                        <p>bericht inhoud</p>
                    </div>
                </div>
                <hr class="p-0 mt-3 mb-0 ml-0 mr-0"/>
                
            </div>
            <div class="row p-2 m-1">
                    <div class="col-md-10">
                        <textarea id="reactie" rows="1" cols="75" placeholder="Typ hier uw reactie in..."></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary">Plaats reactie</button>
                    </div>
            </div>
        </div>
    </div>
</div>
}