@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Stel authenticator app in";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="row justify-content-lg-end justify-content-center">
    <div class="col-lg-10 col-12 py-lg-0 py-md-5">
        <h4>@ViewData["Title"]</h4>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
<div>
    <p>Volg deze stappen om een authenticator app in te stellen:</p>
    <ol class="list">
        <li>
            <p>
                Download een tweefactorauthenticatie app als Microsoft Authenticator voor
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> en
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> of
                Google Authenticator voor
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> en
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Scan de QR Code of voer deze sleutel <kbd>@Model.SharedKey</kbd> in bij je app. Spaties en hoofdletters doen er niet toe.</p>
            
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Als je de QR Code of de sleutel hierboven hebt ingevoerd, verschijnt er een unieke code in je authenticatie app.
                Voer deze code in in het invoerveld hier onder.
            </p>
            <div class="row">
                <div class="col-md-8">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Verification Code</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Verifieer</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/qrcode/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
