<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Look</title>
    <partial name="_Favicons.cshtml" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body tabindex="0" >
    <div class="d-flex toggled" id="wrapper">
        <div id="page-content-wrapper">
            <nav class="navbar text-dark navbar-expand-lg bg-white box-shadow justify-content-center">
                <!--NAVBAR BRAND-->
                <p class="navbar-brand m-0 p-0 d-flex w-50 mr-auto">
                    <a class="navbar-img d-inline" asp-area="" asp-controller="Home" asp-action="Index" role="button" aria-pressed="false"><img class="w-100" alt="Het logo van Look" src="~/images/FINAL_OFF_BLACK_FULL_TRANSPARENT.png"/></a>
                </p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation" role="button" aria-pressed="false">
                    <i class="navbar-toggler-icon nav-link fas fa-bars text-dark"></i>
                </button>

                <div class="navbar-collapse collapse w-100" id="navbarCollapse">
                    <!--NAVIGATION LINKS-->
                    <ul class="navbar-nav nav-links w-100 justify-content-center">
                        <li class="nav-item text-center">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" role="button" aria-pressed="false" >Home </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profiel" role="button" aria-pressed="false">Buurten</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Melding" asp-action="Meldingen"role="button" aria-pressed="false">Contact</a>
                        </li>
                    </ul>

                    <!--SOCIAL LINKS / BUTTONS-->
                    <ul class="nav ml-auto nav-socials w-100 justify-content-center justify-content-lg-end">
                        @if(SignInManager.IsSignedIn(User)) 
                        {
                            <li class="nav-item text-center">
                                <a id="manage" class="button-href" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><button id="menu-toggle" type="button" class="btn btn-dark nav-link ml-2" role="button" aria-pressed="false"><i class="nav-profile mr-2 text-white fas fa-user" tabindex="0" ></i>@UserManager.GetUserName(User)</button></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item text-center">
                                <a class="button-href" id="login" asp-area="Identity" asp-page="/Account/Login"><button type="button" class="btn btn-dark nav-link ml-2" role="button" aria-pressed="false" >Inloggen</button></a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="button-href" id="login" asp-area="Identity" asp-page="/Account/Register"><button type="button" class="btn btn-dark nav-link ml-2" role="button" aria-pressed="false">Registreren</button></a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <main role="main" class="py-5">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer text-white bg-dark">
                <div class="container">
                    <div class="row p-0 m-0">
                        <div class="col-md-3 p-0 m-0 pr-3">
                            <div class="row w-100 p-0 m-0 text-wrap">
                                <div class="col-12 p-0 m-0">
                                    <h6>OVER ONS</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="row w-100 p-0 m-0 text-wrap">
                                <div class="col-12 p-0 m-0 pb-3">
                                    <h6>ABONNEER</h6>
                                    <form class="form-inline form-subscribe">
                                        <div class="form-group w-100 p-0 m-0">
                                            <label for="inputSubscribeEmail" class="sr-only">Email</label>
                                            <input type="email" class="form-control w-100" id="inputSubscribeEmail" placeholder="email">
                                        </div>
                                        <button type="submit" class="btn btn-secondary"><i class="fas fa-angle-right"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 p-0 m-0 pr-3">
                            <h6>LAATSTE TWEETS</h6>
                        </div>
                        <div class="col-md-5 p-0 m-0">
                            <h6>INSTAGRAM</h6>
                        </div>
                    </div>

                    <div class="row w-100 p-0 m-0 text-secondary text-center">
                        <div class="col-12">
                            <p class="m-0">&copy; Copyright 2020, Look</p>
                        </div>
                    </div>
                    <div class="row w-100 p-0 m-0 text-secondary text-center justify-content-center">
                        <div class="col-md-2">
                            <a href="#">Privacy Policy</a>
                        </div>

                        <div class="col-md-2">
                            <a href="#">Cookie Policy</a>
                        </div>

                        <div class="col-md-2">
                            <a href="#">Contact</a>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script>
                function onSubmit(token) {
                    document.getElementById("demo-form").submit();
                }
            </script>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
            <script id="BootstrapFormValidator">
                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        var forms = document.getElementsByClassName('needs-validation');
                        
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                        
                    }, false);
                })();
            </script>
            <script id="RealTimeInputChecker">
                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        var inputs = document.getElementsByClassName('form-validation');
                        
                        var validation = Array.prototype.filter.call(inputs, function(input) {

                            input.addEventListener('blur', function(event) {
                                input.classList.remove('is-invalid');
                                input.classList.remove('is-valid');

                                if (input.checkValidity() === false) {
                                    input.classList.add('is-invalid')
                                }else {
                                    input.classList.add('is-valid')
                                }
                            }, false);
                        });
                        
                    }, false);
                })();
            </script>
            <script>
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                $("#wrapper").toggleClass("toggled");
                });
            </script>
            @await RenderSectionAsync("Scripts", required: false)
        </div>
    
        <!-- Sidebar -->
        <div class="bg-dark text-white toggled" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <h5>Welkom, @UserManager.GetUserName(User)</h5>
            </div>
            <div class="list-group list-group-flush w-100">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="list-group-item list-group-item-action list-group-item-dark">Profiel</a>
                <a asp-controller="Melding" asp-action="Meldingen" class="list-group-item list-group-item-action list-group-item-dark">Meldingen</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Chat</a>
                <a id="logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="list-group-item list-group-item-action list-group-item-white">Uitloggen</a>
            </div>
        </div>
    </div>
</body>
</html>
