@model Look.Models.Melding
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h1>Bewerk Melding</h1>
        <h4>@Model.Titel</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="ErrorMessage" hidden>
                    <div class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Er is al een bericht met deze titel.
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label> <!--dit is wat erboven komt te staan--> 
                <input asp-for="Titel" class="form-control" value ="@Model.Titel" onchange='CheckMeldingNaam()' tabindex="1" role="textbox"  minlength="8" maxlength="30" required/>  <!--dit is de link naar het stukje data wat het moet vervangen denk ik--> 
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inhoud" class="control-label"></label>
                <textarea asp-for="Inhoud" class="form-control" rows="6" value ="@Model.Inhoud" tabindex="1"  role="textbox"  minlength="20" maxlength="500" required></textarea>
                <span asp-validation-for="Inhoud" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Categorie" for="categorie" class="control-label"></label>
                <select asp-for="Categorie" name="categorie" class="control-label" tabindex="1">
                    <option value="Gevonden voorwerp">Gevonden voorwerp</option>
                    <option value="Bijeenkomst">Bijeenkomst</option>
                    <option value="Overlast">Overlast</option>
                    <option value="Criminaliteit">Criminaliteit</option>
                </select>
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <input asp-for="MeldingId" class="form-control" value ="@Model.MeldingId"  role="textbox"  tabindex="1" required />
                <span asp-validation-for="MeldingId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input id="OrgineleTitel" value ="@Model.Titel" />
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" tabindex="1" class="btn btn-primary" role="button" aria-pressed="false"/>
            </div>
        </form>
    </div>
</div>

<script>
    function CheckMeldingNaam(){
        //dit maak de array die wordt meegegeven uit de cs
        var titels = '(@ViewBag.Titels)';
        var array = @Html.Raw(Json.Serialize(@ViewBag.Titels));
        var titel = document.getElementById("Titel").value;
        
        //hier wordt gekeken of het er al een keertje in zit en die maakt die dan onzichtbaar
        var AantalKeerVoorgekomen = false;
        for (i = 0; i < array.length; i++){
            if(array[i].toLowerCase()==(titel.toLowerCase())){
                AantalKeerVoorgekomen=true;
                if(titel.toLowerCase()==document.getElementById("OrgineleTitel").value.toLowerCase()){
                    AantalKeerVoorgekomen=false;
                }
            }
        }
        if(AantalKeerVoorgekomen){
                document.getElementById('ErrorMessage').hidden = false;
        }else{
                document.getElementById('ErrorMessage').hidden = true;
        }
    }
</script>

<div>
    @Html.ActionLink("Back to List", "Meldingen")
</div>